@use "../abstracts/variables";
@use "../abstracts/functions";
/*button css */
.btn {
  padding: 0.3rem 0.9rem;
  border-radius: 6px;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 600;
  border: none;
  outline: none;
  display: inline-block;
  &-primary {
    color: white;
    background-color: get-colors();
    transition: background-color ease 0.5s !important;
    &:hover {
      background-color: get-colors("hover-color");
      color: white !important;
    }
  }
}
