@import "../base/typography";
/*fonts*/
$primary-font : "Poppins", sans-serif;
$malayalm-font : "Noto Sans Malayalam", sans-serif;


/*color shcema*/
$theme-color : (
    'primary' : #00B9E8,
    'secondary' : #1B1B1B,
    'hover-color' :#007FFF
)