@use "../abstracts/mixins";
/*back ground element css start*/
.background-shapes {
  /*box shape*/

  @include responsive(xs) {
    display: none;
  }
  .box {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 0.35rem;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;
    &-1 {
      border: 3px solid red;
      top: 20%;
      left: 10%;
      @include responsive(sm) {
        top: 25%;
      }
    }
    &-2 {
      border: 3px solid rgb(109, 255, 52);
      top: 30%;
      right: 10%;
    }
    &-3 {
      border: 3px solid rgb(52, 255, 238);
      bottom: 20%;
      left: 20%;
      @include responsive(sm) {
        bottom: 21%;
      }
      @include responsive(lg) {
        bottom: 36%;
      }
    }
    &-4 {
      border: 3px solid rgb(52, 106, 255);
      bottom: 40%;
      right: 5%;
    }
  }
  /*heart shape*/
  .heart {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 0.35rem;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;
    &-1 {
      top: 80%;
      left: 90%;
      color: rgb(185, 0, 0);
      @include responsive(lg) {
        top: 60%;
      }
    }
    &-2 {
      top: 30%;
      bottom: 10%;
      color: rgb(255, 171, 14);
      @include responsive(sm) {
        top: 25%;
      }
      @include responsive(md) {
        top: 11%;
      }
    }
    &-3 {
      top: 15%;
      left: 50%;
      color: rgb(255, 32, 225);
      @include responsive(sm) {
        left: 30%;
        top: 25%;
      }
      @include responsive(md) {
        top: 18%;
      }
      @include responsive(lg) {
        bottom: 50%;
      }
    }
    &-4 {
      top: 60%;
      left: 3%;
      color: rgb(169, 39, 255);
    }
  }
  /*square shpe*/
  .square {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 0.35rem;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;
    &-1 {
      color: rgb(255, 221, 30);
      bottom: 30%;
      right: 50%;
      @include responsive(sm) {
        bottom: 25%;
      }
      @include responsive(lg){
        bottom: 29%;
      }
    }
    &-2 {
      color: rgb(255, 41, 130);
      bottom: 10%;
      left: 30%;
      @include responsive(sm) {
        bottom: 10%;
        left: 10%;
      }
      @include responsive(lg){
        bottom: 29%;
      }
    }
  }
  /*hexagon shpe*/
  .hexagon {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 0.35rem;
    z-index: -1;
    transform: rotate(360deg);
    animation: box-shape linear 5s infinite;
    &-1 {
      bottom: 10%;
      right: 40%;
      border: 1px solid rgb(255, 10, 10);
      @include responsive(sm) {
        right: 20%;
      }
      @include responsive(lg){
        bottom: 30%;
      }
    }
  }
}
/*back ground element css end*/
