@use "../abstracts/variables";
@use "../abstracts/functions";
@use "../abstracts/mixins";

/*header css start*/
.header {
  @include responsive(sm){
    padding: 1rem 2rem;
  }
  @include responsive(xlg){
    padding: 1.5rem 2.5rem;
  }
  .logo {
    font-family: $malayalm-font;
    font-size: 1rem;
    font-weight: 700;
    @include responsive(xs) {
      font-size: 1rem;
    }
    @include responsive(md){
      font-size: 1.5rem;
    }
    @include responsive(lg){
      font-size: 1.3rem;
    }
    @include responsive(xlg){
      font-size: 1.4rem;
    }
    .lebal {
      @include responsive(xs) {
        font-size: 0.8rem;
        font-weight: 900;
      }
    }
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
  border-bottom: 1px solid rgba(201, 201, 201, 0.897);
  @include responsive(xs) {
    padding: 0.5rem 0.4rem;
  }
  .navbar {
    .hanberg-icon {
      @include responsive(xs){
        display: block;
      }
      @include responsive(sm){
        display: block;
        font-size: 1.5rem;
      }
      @include responsive(lg){
        display: none;
      }
    }
    &-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      display: none;
      @include responsive(lg){
        display: flex;
      }
      &-items {
        margin-right: 1.5rem;
        font-size: 13px;
        font-weight: 600;
        @include responsive(lg){
          font-size: 16px;
        }
        @include responsive(xlg){
          font-size: 17px;
        }
        &:last-child {
          margin-right: 0;
        }
        a {
          transition: color ease 0.5s;
          &:hover {
            color: get-colors();
          }
          &.active {
            color: get-colors();
          }
        }
      }
    }
  }
}
/* header css end */
