.about-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
  @include responsive(xs) {
    margin: 0.1rem 0;
    flex-direction: column;
  }
  @include responsive(sm) {
    margin-top: 0.1rem;
    flex-direction: column;
  }
  @include responsive(lg) {
    flex-direction: row;
    margin: 8rem 0;
  }
  &-image {
    @include responsive(sm) {
      max-width: 25rem;
    }
    @include responsive(lg) {
      max-width: 30rem;
    }
    @include responsive(xlg) {
      max-width: 40rem;
    }
  }
  &-contents {
    padding-left: 5rem;
    @include responsive(xs) {
      padding-left: 0;
      text-align: center;
    }
    @include responsive(lg) {
      max-width: 25rem;
    }
    @include responsive(xlg) {
      max-width: 35rem;
    }
  }
  &-description {
    @include responsive(xs) {
      text-align: left;
    }
  }
}
