@use "../abstracts/mixins";
/*hero css start*/
.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
  @include responsive(xs) {
    flex-direction: column;
  }
  @include responsive(sm) {
    flex-direction: column;
    margin-bottom: 0.1rem;
  }
  @include responsive(md) {
    flex-direction: column;
  }
  @include responsive(lg) {
    flex-direction: row;
  }
  

  &-contents {
    @include responsive(lg) {
      max-width: 22rem;
    }
    @include responsive(xlg) {
      max-width: 40rem;
    }
  }
  &-image {
    @include responsive(sm) {
      max-width: 50rem;
    }
    @include responsive(xlg) {
      max-width: 30rem;
    }
  }
}
/*hero css end*/
