@use "../abstracts/mixins";
/*hero css start*/
.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include responsive(xs){
    flex-direction: column;
  }
  &-contents {
    max-width: 34rem;
  }
}
/*hero css end*/
