@use "../abstracts/mixins";
/*hero css start*/
.hero-area {
  @include responsive(sm){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  &-contents {
    max-width: 34rem;
  }

}
/*hero css end*/
